*,
*::after,
*::before{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url("../img/ava7patterns_pattern_1301.png");
    background-repeat: no-repeat;
    background-size: 25%;
    background-position: 21% 21%;
    color: white;
    background-attachment: fixed;
}

.wrapper{
    max-width: 850px;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: rgba(29, 29, 29, 0.5);
    /* overflow: auto; */
}

.wrapper h1{
    /* margin-bottom: 35px; */
    margin: 0 0 35px 0;
}

.wrapper p{
    text-align: left;
    margin: 0 0 35px 0;
}

.wrapper img{
    width: 30%;
    margin: 0 0 35px 0;
}

.imgParalax{
    width: 100%;
    height: 25vh;
    background-image: url("https://api.lorem.space/image/car?w=1000&h=640&hash=lh5z0qqv");
    background-repeat: no-repeat;
    background-size: 100%;
    /* background-attachment: fixed; */
    background-position: center bottom;
}